:root {
    --c-light-dark: #2E373C;
    --c-dark: #151515;
    --c-light: #E7F0FE;
    --c-light-medium: #609efa;
    --c-brand: #1C78FF;
    --transition: all 0.5s ease;
    --font-base: "Inter", sans-serif;
    --font-second: "Space Grotesk", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
}

/* RESET */
body {
    font-family: var(--font-base);
    line-height: 1.7;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: var(--c-light-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
    font-weight: 400;
    color: var(--c-light-dark);
}

.navbar-nav .nav-link.active {
    font-weight: 400;
    color: var(--c-brand);
}

/* BTN */
.btn {
    font-weight: 500;
    font-size: 18px;
    border-radius: 10;
    padding: 16px 32px;
}

.btn-brand {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}

.btn-brand:hover {
    background-color: var(--c-light-medium);
    border-color: var(--c-light-medium);
    color: white;
}

/* HERO */
#hero {
    background: var(--c-light);
}

#hero h1 {
    color: var(--c-light-dark);
    font-family: var(--font-second);
    line-height: 90px;
    max-width: 454px;
    padding-bottom: 20px;
}

#hero p {
    max-width: 409px;

}

#hero .row {
    padding-top: 92px;
    padding-bottom: 92px;
}


.hero-1 {
    z-index: 2;
}

.hero-2 {
    position: absolute;
    z-index: 1;
    right: 60px;
    bottom: 0;
}

/* SECTION TITLE */
.section-title {
    margin-bottom: 60px;
}

.section-title{
    max-width: 743px;
    max-height: 66px;
    margin: 16px auto 4px;
    font-family: var(--font-second);
    color: #151515;
}

.section-title p {
    max-width: 546px;
    margin-left: auto;
    margin-right: auto;

}

/* SPONSOR IMAGE */
.marquee {
    width: 100%;
    overflow: hidden;
    padding-top: 110px;
}
  
  .marquee-inner {
    display: flex;
    animation: marquee 10s linear infinite;
    max-height: 519px;
  }
  
  .sponsor-wrapper {
    display: inline-block;
    padding: 0 1rem;
  }
  
  .sponsor-wrapper img {
    max-width: 200px;
    height: auto;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .marquee-inner::before,
  .marquee-inner::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  
  .marquee-inner::before {
    right: 100%;
  }
  
  .marquee-inner::after {
    left: 100%;
  }
  
  

/* PORTFOLIO */
#services {
    background-color: var(--c-dark);
}

#services h1 {
    color: #F3F7FE;
    max-width: 448px;
    max-height: 225px;
    font-family: var(--font-second);
    font-size: 72px;
}

#services h3 {
    color: #fff;
    font-family: var(--font-second);
    font-size: 28px;
}

#services p {
    color: #fff;
    font-size: 20px;
}

#services a {
    text-decoration: underline;
    color: white;
    font-size: 28px;
}

/* для екранів шириною від 1200px до 992px */
@media (max-width: 1200px) {
    #services h1 {
      font-size: 64px;
    }

    #services p, a {
        font-size: 20px;
    }
  }
  
  /* для екранів шириною від 992px до 768px */
  @media (max-width: 992px) {
    #services h1 {
      font-size: 56px;
    }

    #services p, a {
        font-size: 18px;
    }
  }
  
  /* для екранів шириною до 768px */
  @media (max-width: 768px) {
    #services h1 {
      font-size: 48px;
    }

    #services p, a {
        font-size: 16px;
    }
  }

/* REVIEWS */
#reviews {
    background-color: var(--c-light);
    overflow: hidden; /* Додаємо для приховування вихідних елементів */
}

#reviews p {
    max-width: 805px;
    margin: 0 auto;
}

#reviews .col {
    max-width: 100%;
    padding: 0 15px; /* Додаємо відступи, щоб контент не торкався країв */
}

.carousel-inner {
    overflow: hidden; /* Приховуємо вихідні елементи каруселі */
}

.card.mb-3 {
    margin: 0 auto;
    max-width: 90%;
}

@media (max-width: 767px) {
    .card.mb-3 {
       margin: 0 auto;
       max-width: 90%;
    }

    .row.justify-content-center.pt-5 {
       flex-direction: column;
       align-items: center;
    }

    .col-md-6 {
       width: 100%;
    }

    .section-title h1 {
        padding-bottom: 10px;
        font-size: 25px;
    }

    .section-title p {
        font-size: 12px;
    }

    .card-text.text-1 {
        font-size: 0.8rem; /* reduce the font size of the text on small screens */
        margin: 20px;
        padding: 20px;
    }

    .prof-pic {
        margin: 20px;
        padding: 20px;
    }
}

   

/* FOOTER */
.footer-top {
    background-color: var(--c-dark);
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: white;
    color: var(--c-dark);
    margin-right: 0.5rem;
}

.social-icons a:hover {
    background-color: var(--c-brand);
    color: white;
}

#footer li {
    list-style-type: none;
}

.input-container {
    max-width: 277px;
    width: 100%;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
}

.input-button-container {
    position: relative;
  }
  
.input-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.input-container button {
    padding: 0 15px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.input-container button:hover {
    background-color: #0056b3;
}

.footer-bottom {
    background-color: var(--c-brand);
}

@media (max-width: 600px) {
    .input-container {
        flex-direction: column;
    }

    .input-container input,
    .input-container button {
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box;
    }

    .input-container input {
        border-right: 1px solid #ccc;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .input-container button {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}